<p>Welcome @<%= @user.email %>, contained in this email is the list of commission charged for the amount of capital guaranteed. Please note that the commission charged are on profits and not capital.</p>
<br />
<p>After reviewing the commission prices please reply the mail with the amount of your capital you want guaranteed.</p>
<br />
<img src="https://cdn.steemitimages.com/DQmf81S9zxGKwii7fP6HdjNdQyAdeYzbj1h91BAPyWMnMda/Screen%20Shot%202018-11-08%20at%206.03.44%20PM.png" alt="", style="vertical-align:top;" width="600" height="auto" >
<br />
<p>For a better understanding please visit  https://www.cryptontrades.com/faqs for more info. <p>
  <br/>
  <p>For future modification of guaranteed capital please contact support@cryptontrades.com </p>
