<section class="trd-about-business-section trd-section">
    <div class="container">
        <div class="row">
            <!-- About Business -->

            <div class="col-md-6  ">
                <div style="width:100%; max-width:100% !important;" class="btcwdgt-chart"></div>
            </div>

            <div class="col-md-6">

                     <h3>What's Best Is... </h3>
                   <p> Join Our 100% auto trading platform for  Crypto Options which generates trading
                    signals and automatically executes trades directly to a user’s linked broker account. Offering traders a
                    professional signals service which looks set to surpass its competitors,
                     is fast gaining popularity within the trading community.

                          <strong>  An attractive aspect of this software is that no previous  Crypto Options trading knowledge is required to use the service.
                             It’s just a case of signing up with  and opening an account.</p>

                             <br/>
                    <h3>We ensure the highest level of security for all our investors </h3>
                    <strong>cryptontrade is dedicated to your security and uses the best encryption software possible for all personal and financial information, including SSL encryption through HTTPS secure web protocols. Furthermore, all trader funds are kept in segregated accounts and cannot be touched by brokers for anything other than trading purposes.</strong>
            </div>
            <!-- End -->


        </div>
    </div>

</section>
