<!-- CTA SECTION -->
<section class="trd-cta-section">
   <div class="container">
       <div class="row">
           <div class="trd-cta-wrapper">
               <h3>Get in touch with us for   <span class="trd-highlight-text">the best results on your investments</span> plan , resource &amp; execution</h3>
               <%= link_to "Get Started", new_user_registration_path, class: "trd-btn trd-btn-alt" %>
           </div>
       </div>
   </div>
</section>
<!-- CTA SECTION END -->
