<!-- PAGE HEADER -->
<section class="trd-page-header">
    <div class="container">
        <div class="row">
            <h1 class="trd-page-title">About Us</h1>
        </div>
    </div>
</section>
<!-- PAGE HEADER END -->

<!-- ABOUT US SECTION -->
<div class="trd-about-us-details-section trd-section">
    <div class="container">
        <div class="row">
            <!-- Image with details -->
            <div class="trd-inner-section">
                <div class="trd-left-half">
                    <div class="trd-image-wrapper">
                        <%= image_tag "about-us.jpg" %>
                    </div>
                </div>

                <div class="trd-right-half">
                    <h2 class="trd-content-inner-title">About <span class="trd-highlight-text">Cryptontrade</span></h2>

                    <p>
                        We are one of the model communities of small, medium and large investors. Our vision for cryptontrade is to be the #1 platform for all categories of investors who consistently seek investment opportunities and take the bold step to becoming financially free by creating passive income for themselves. <br>Our members enter a structured social investment platform designed to aid them with our proven trading strategies and algorithms.</p>
                    <p>
                    all funds are kept in  a segregated accounts and cannot be touched by brokers for anything other than trading purposes. A study by Nobel Laureate Harry Markowitz concluded that the inclusion of alternative investments truly diversifies an investment portfolio, lowering risk for a given level of return or increasing return for a given level of risk.
                </div>
            </div>
            <!-- End -->

            <!-- Text and Skillbar -->
            <div class="trd-inner-section">
                <div class="trd-left-half">
                    <h2 class="trd-content-inner-title">Some <span class="trd-highlight-text">Facts</span></h2>

                    <p>
With proper analysis of assets class                       <br>
, we are able to make proper calls and make profits for our clients
                    </p>
                </div>

                <div class="trd-right-half">
                    <h2 class="trd-content-inner-title">Our <span class="trd-highlight-text">Expertise</span></h2>

                    <div class="trd-skillbar-wrapper">
                        <!-- Skills -->
                        <div class="trd-skillbar clearfix" data-percent="70">
                            <p class="trd-skillbar-title">Analysis</p>
                            <div class="trd-skillbar-bar-wrapper">
                                <div class="trd-skillbar-bar"></div>
                            </div>
                            <span class="skill-bar-percent"></span>
                        </div>
                        <!-- End -->

                        <!-- Skills -->
                        <div class="trd-skillbar clearfix" data-percent="80">
                            <p class="trd-skillbar-title">Trading</p>
                            <div class="trd-skillbar-bar-wrapper">
                                <div class="trd-skillbar-bar"></div>
                            </div>
                            <span class="skill-bar-percent"></span>
                        </div>
                        <!-- End -->

                        <!-- Skills -->
                        <div class="trd-skillbar clearfix" data-percent="90">
                            <p class="trd-skillbar-title">Finance</p>
                            <div class="trd-skillbar-bar-wrapper">
                                <div class="trd-skillbar-bar"></div>
                            </div>
                            <span class="skill-bar-percent"></span>
                        </div>
                        <!-- End -->

                        <!-- Skills -->
                        <div class="trd-skillbar clearfix" data-percent="99">
                            <p class="trd-skillbar-title">Support</p>
                            <div class="trd-skillbar-bar-wrapper">
                                <div class="trd-skillbar-bar"></div>
                            </div>
                            <span class="skill-bar-percent"></span>
                        </div>
                        <!-- End -->
                    </div>
                </div>
                <!-- End -->
            </div>
        </div>
    </div>
</div>
<!-- ABOUT US SECTION END-->
