<section class="trd-page-header">
    <div class="container">
        <div class="row">
            <h1 class="trd-page-title">How To Open A Bitcoin Wallet</h1>
        </div>
    </div>
</section>

<!-- ABOUT US SECTION -->
<div class="trd-about-us-details-section trd-section">
    <div class="container">
        <div class="row">
            <!-- Image with details -->
            <div class="trd-inner-section">
                <div class="trd-left-half">
                    <div class="trd-image-wrapper">
                        <%= image_tag 'bitcoin.jpg' %>
                    </div>
                </div>

                <div class="trd-right-half">
                    <h2 class="trd-content-inner-title">How To  <span class="trd-highlight-text">Open A Bitcoin Wallet</span></h2>

                    <p>
                      Bitcoin is an innovative payment network and a new kind of money. Bitcoin uses peer-to-peer technology to operate with no central authority or banks; managing transactions and the issuing of Bitcoins is carried out collectively by the network. Bitcoin is open-source; its design is public, nobody owns or controls Bitcoin and everyone can take part. Through many of its unique properties, Bitcoin allows exciting uses that could not be covered by any previous payment system

                    </p>
                    <br>

                    <p>
                      1.	Open <a href="https://blockchain.info">blockchain.info</a>. Choose Wallet option from the list of navigation menu located at the top of the web page.
                    </p>
                      <br>
                    <p>
                      2.	Now, You need to create a New Block Chain Wallet account right, so just click "Create A Free Blockchain Wallet" button.
                    </p>
                      <br>
                    <p>
                      3.	The next browser loads the form, and it asks for Email and Password. Use your primary Gmail ID and create a new password for this account. Use Uppercase, Lowercase alphabets, Numbers, Special characters and make 11 – 15 characters as your password.
                        <br>  <strong>Hooray, your Block Chain wallet account created. Just press Get started to reveal your dashboard which will come in the next screen.

                </div>
            </div>
                      </strong>
                    </p>
                      <br>

                    <p>
                      4.	In the next browser, click "Get Started" to view your new Wallet Dashboard. Here’s your own block chain wallet account. Now it shows 0 BTC. Here where you are ready to make thousands of dollars in cash. Curious to know how?<br>
                      <strong>
                        If you open a savings account in your bank, you will get an 16digit number that is unique to identify your account number. Same process here too, just click "Receive" button to get your 34 digit Alpha Numeric characters unique BTC address like <pre>1CwLpyqd3XQZYdGV6CMijKCrgukGGzatFz</pre>
                      </strong>
                    </p>
                      <br>
                    <p>
                      5.	Do not forget to verify your Email ID associated with your block chain wallet. Open your mail ID and click on the link.
                      <br>
                      <strong>
                        Now login to your New Blockchain Wallet account using your Wallet Identifier copied from your Email and with your password.
                      </strong>
                    </p>
                      <br>
                    <p>
                      6.	Now it’s time to secure your account. Get your backup phrase which will be used in case of your password was lost or any un-authorised changes. Click on "Backup Pharse" and it will ask for your account password.
                    </p>
                      <br>

                    <p>
                      7.	Now, go to Level 2: of your account protection. Need to link a mobile number to your wallet account and enable 2-Step authentication factor which you will already know and is similar to Gmail 2-Step authentication.
                    </p>
                      <br>
                    <p>
                  <strong>  Super, Awesome you by yourself created a block chain wallet account and got your unique BTC address.
                  </strong></p>


                </div>
              </div>
            </div>
