<section class="trd-page-header">
  <div class="container">
    <div class="row">
      <h1 class="trd-page-title">How It Works </h1>
    </div>
  </div>
</section>
<!-- ABOUT US SECTION -->
<div class="trd-about-us-details-section trd-section">
  <div class="container">
    <div class="row">
      <!-- Image with details -->
      <div class="trd-inner-section">
        <div class="trd-left-half">
          <div >
            <%= image_tag "profit1.jpg", alt: "deposit" %>
          </div>
        </div>

        <div class="trd-right-half">
          <h2 class="trd-content-inner-title" id="deposit">How To <span class="trd-highlight-text">Send Bitcoin  </span></h2>

          <p>
<strong>1. Login to your Blockchain account and you will see Send bitcoin and Receive bitcoin tabs.</strong>
<br>
<strong>2. Click on Send Money tab, insert bitcoin wallet of the reciver, <br>
the amount you are willing to invest in BTC and click on Send Money. Enjoy!
</strong>
<br>

            <strong>3.  Note : be Sure to identify your address and amount associated with your transaction hash/key. Any Mistakes and your deposit will note be accepted
            </strong>


          </p>
        </div>
      </div>
      <!-- End -->

      <!-- Text and Skillbar -->
      <div class="trd-inner-section">
        <div class="trd-left-half">
          <h2 class="trd-content-inner-title" id="withdraw">How To <span class="trd-highlight-text">Withdraw</span></h2>

          <p>Log in to your cryptontrades account, click on contract, click on withdraw. Enjoy!
            <br>
            Additional steps you must follow are in your account to ensure safety of your funds

          </p>
        </div>


          <!-- End -->
        </div>
      </div>
    </div>
  </div>
</div>
