/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import 'bootstrap';
 @import "style";
 @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
 @import url("https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.svg");
 @import url('https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.eot');
 @import url('https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css');
 @import "pe-icon-7-stroke";
 @font-face {
   font-family: "tradeicon";
   src: url("<%= asset_path ('trade-icon.eot') %>");
   src: url("<%= asset_path ('trade-icond41d.eot') %>")
   format("embedded-opentype"),
   url("<%= asset_path ('trade-icon.woff') %>")
    format("woff"), url("<%= asset_path ('trade-icon.html') %>") format("truetype"),
     url("<%= asset_path ('trade-icon.svg') %>") format("svg");
   font-weight: normal;
   font-style: normal;
 }


 /*--------------------------------------------------------------------------------------------------------------------
  * Section: Price
  *--------------------------------------------------------------------------------------------------------------------*/
 .plan {
   margin-bottom: 20px;
   padding: 50px 10px;
   text-align: center;
   background: #fff;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
 }
 .plan .price {
   margin-bottom: 20px;
   font-size: 50px;
   color: #78588d;
 }
 .plan .price span {
   font-size: 24px;
   vertical-align: middle;
 }
 .plan .features {
   list-style: none;
   margin: 0 0 20px;
   padding: 0;
 }
 .plan .features li {
   padding: 2px 0;
   cursor: pointer;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
 }
 .plan:hover {
   margin-top: -5px;
   background: rgba(255, 255, 255, 0.95);
   -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
   -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
 }
 .plan a{
   color: #fff !important;
 }
