<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Trade History</h4>
            <p class="category">Here are trade result in the last 24hrs</p>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-striped">

              <thead>
                <tr>
                  <th>Date</th>
                  <th>Opening Balance</th>
                  <th>Commission Rate</th>
                  <th>Gross profit/loss</th>
                  <th>Net profit/loss </th>
                  <th>Closing Balance</th>
                  <th>Rate Of Investment</th>

                  <th>Capital</th>
                  <th>Gurantee</th>
                  <th>%Contribution to pool</th>
                  <th>Profit Brought Forward</th>



                  
                </tr>
              </thead>
              <tbody>

                <%= render @account.trades.reverse %>

              </tbody>
            </table>

          </div>
        </div>
      </div>
